@{
    ViewData["Title"] = "Home Page";
}

<div id="menu">

    <a href="shopnow.php"><img src="~/images/shop.png"></a>
    <a href="editor.php"><img src="~/images/design.png"></a>

</div>

<div id="intro">
    <p>Welcome to <b>WePrint!</b><br>One of the best website where you can select various products.<br>Create your own design and <b>We Print</b> it! </p>

</div>

<div class="line">
    <hr><p>WHO ARE WE?</p><hr>
</div>

<div id="anime">
    <video controls poster="~/images/logo.png">
        <source src="~/images/promo.mp4" type="video/mp4">
    </video>
</div>

<div class="line">
    <hr><p>OUR SERVICES</p><hr>
</div>

<div id="services">

    <div class="content">
        <img src="~/images/onlinechat.png">
        <p>Fast and simple online chat system</p>
    </div>

    <div class="content">
        <img src="~/images/delivery.png">
        <p>Free delivery within five working days</p>
    </div>

    <div class="content">
        <img src="~/images/securedpayment.png">
        <p>Secured payment via Visa & credit card</p>
    </div>


</div>
