
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Terms and Services</title>
    <link rel="stylesheet" type="text/css" href="~/css/servicesweprint.css">

    <style>
        body {
            background-image: url('~/images/layoutsignupbg.png');
            background-repeat: repeat-y;
            background-attachment: fixed;
            background-position: left;
        }
    </style>


</head>

<body>

    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">
        <img id="back" src="~/images/back.png" title="Back">
    </a>

    <h1><b>TERMS AND SERVICES</b></h1>

    <p> <b>Welcome to WePrint!</b></p>
    <p>
        This page sets out the terms and conditions of WePrint website and the Services we offer.
        It is a legal document which is an agreement between WePrint (whom we refer to as “we”, “our” and “us”)
        and the Customer (referred to as “you”, “your”, “he”, “she” or the “Customer”).
    </p>

    <h2><b><u>OVERVIEW</u></b></h2>
    <p>
        By visiting our site and/or purchasing any goods from us, you engage in our “Service” and agree to be bound by the following terms and conditions
        (“Terms of Service”, “Terms”), including additional policies.
    </p>
    <p>
        Any new features or tools which are added to the current store shall also be subject to the Terms of Service of the company.
        You can review the latest version of the Terms of Service at any time on this page. We reserve the right to update, change or
        replace any part of these Terms of Service by posting updates and/or changes to our website at any time with notice.
        It is your responsibility to check this page for changes.
        Your continued use of the website following integration of new changes is considered as acceptance of those changes.
    </p>

    <h2><b><u>GENERAL CONDITIONS</u></b></h2>

    <h3><u>RIGHTS</u></h3>
    <p>
        You understand that by using WePrint’s website and its services, you have agreed to the terms and conditions of these Terms of Service,
        Privacy Policy and Service and Delivery Policy and you agree to use the website and the Service solely as provided in this Terms of Service,
        Privacy Policy and Service and Delivery Policy. We reserve the right to refuse Service to anyone for any reason at any time.
    </p>

    <h3><u>AGE LIMITS</u></h3>
    <p>The customer using our site shall be at least the age of majority in Mauritius or have consent from parents or legal guardians in case of minority.</p>

    <h3><u>WePrint PROPERTY</u></h3>
    <p>
        WePrint owns all intellectual property and other rights, title and interest in and to this site and its service
        (except for the contents the customer provides).
    </p>
    <p>
        By using our site, you agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service,
        or access to the Service or any contact on the website through which the Service is provided, without written permission from us.
    </p>

    <h3><u>COPYRIGHT AND OWNERSHIP ISSUES.</u></h3>
    <p>
        By agreeing with our terms, services and conditions, you certify that all information you post are real,
        accurate to your personal details and belongs to you.
    </p>
    <p>
        WePrint will not be responsible in any case of copyright issues and/or plagiarism
        on our website and/or with our tools, features and services. Additionally, Picamera is not concerned and is not taking
        responsibility with any modifications of any human being, animal, plant and place in any image uploaded by you.
    </p>

    <h3><u>USE OF WEBSITE</u></h3>
    <p>
        You agree that the content you provide (not including credit card information), may be transferred unencrypted and involve (a)
        transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.
        <strong>Credit card information is always encrypted during transfer over networks.</strong>
    </p>
    <p>By using WePrint’s website, resulting in accepting our Terms and Services, you automatically agree with the following:</p>

    <div class="a">
        <b>
            <p>
                1.	You must not harass, abuse, insult, harm, defame, slander, disparage, intimidate or discriminate based on gender, sexual orientation,
                religion, ethnicity, race, age, national origin, or disability using any of our Services.
            </p>
            <p>2.	You must not submit false or misleading information.</p>
            <p>
                3.	You must not upload or transmit viruses or any other type of malicious code that will or may be used in any way that will affect
                the functionality or operation of the Service or of any related website, other websites, or the Internet.
            </p>
            <p>4.	You must not collect or track the personal information of other users or administrators.</p>
            <p>5.	You must not spam, phish, pharm, pretext, spider, crawl, or scrape.</p>
            <p>6.	You must not use our site and services for any obscene or immoral purpose.</p>
        </b>
    </div>

    <p>We reserve the right to terminate immediately your use of the Service or any related website for violating any of the prohibited uses.</p>

    <h3><u>ELECTRONIC COMMUNICATION</u></h3>
    <p>
        By using any of our contact services and chat support system, you consent to send requests or questions solely in the purpose of clarifications of
        WePrint’s Services and functionality. No private demand which include private conversations with any individual from our team shall be considered from us.
    </p>
    <p>
        You agree to receive communications from WePrint electronically and agree that all such agreements, notices, disclosures and other communications are
        deemed to be duly sent by WePrint for the purposes of these Terms and Conditions in accordance with the Electronic Transaction Act.
    </p><br>

    <button id="topbutton"><a href="#top" style="color: white"><b>Back to Top</b></a></button>

</body>
</html>
